<div class="container">
    <div class="row ">
        <div class="col-md-9 text-center">
            <app-searchform (findUser)='searchRepos()'></app-searchform>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div>
                <div class="table">
                    <table class="table">
                        <tbody>
                            <tr *ngFor=" let repo of repoService.searchRepo">
                                <td>
                                    <h4>
                                        <a style="text-align: center" href="{{repo.html_url}} ">{{repo.name}}</a>
                                    </h4>
                                    <p> Repository Owner:
                                        <a href="{{repo.owner.html_url}}">{{repo.owner.login}}</a>
                                    </p>
                                    <p>Description : {{repo.description}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>