<div class="back">
    <div class="crd">
        <div class="card text-center">
            <div class="card-header">
                <h2 class="card-title">Github-Search App</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Where you can search for your Github Repositories.</p>
                <a href="/user" class="btn btn-primary">Navigate</a>
            </div>
            <div class="card-footer text-muted">
                <small style="font-style: italic;">Created 2 days ago</small>
            </div>
        </div>
    </div>
</div>