<!-- <div>
    <h1></h1>
    <p>Where you can search for four Github Repositories</p>
</div> -->

<div class="card text-center">
    <div class="card-header">
        Github-Search App</div>
    <div class="card-body">
        <img src="/home/moringa/Downloads/Imgs/altumcode-U0tBTn8UR8I-unsplash.jpg" alt="">
        <h2 class="card-title">Special title treatment</h2>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>