* {
  box-sizing: border-box;
}
nav {
  background-color: #5b78c7;
  height: 12vh;
}

.navlinks {
  margin-top: 10px;
  display: flex;
  height: 100%;
  font-size: larger;
}
.nav-item {
  list-style: none;
}
.navlinks li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
